.loco {
	width: 350px;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 1em;
	height: 100px;
	background-color: #CDF;
	margin: 0.5em;
	display: inline-block;
	vertical-align: top;
}
.signal {
	width: 100px;
	border: 1px solid gray;
	border-radius: 2px;
	padding: 2px;
	height: 30px;
	background-color: #CDF;
	margin: 2px;
	display: inline-block;
	vertical-align: top;
}
.controls {
}
.control {
	padding-top: 6px;
	padding-left: 10px;
	display: block;
	width: 95%;
	height: 24px;
}
.signal_disabled {
	opacity: 0.5;
	cursor: auto;
}
.current_color {
	border: 2px solid black;
}
.signal_color {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 2px;
	cursor: pointer;
}
.signal_red {
	background-color: red;
}
.signal_amber {
	background-color: #ff7e00;
}
.signal_green {
	background-color: green;
}
.toggles {
	float: right;
}
.function_label {
	display: inline-block;
	width: 70px;
	text-align: right;
	font-size: 0.75em;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 10px;	
}
.function_panel {
	display: inline-block;
	padding-right: 15px;
	float: right;
	width: 160px;
}
.direction_panel {
	display: inline-block;
	vertical-align: top;
}
.hide {
	float: right;
	position: relative;
	bottom: 10px;
	left: 5px;
}
